apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: food-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: sakethjooluri/order-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 4000
        envFrom:
        - configMapRef:
            name: order-config
        - secretRef:
            name: order-secrets
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 4000
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: food-app
spec:
  type: LoadBalancer
  selector:
    app: order-service
  ports:
    - port: 4000
      targetPort: 4000
      nodePort: 30004
