apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: food-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: sakethjooluri/payment-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3003
        envFrom:
        - configMapRef:
            name: payment-config
        - secretRef:
            name: payment-secrets
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3003
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: food-app
spec:
  type: LoadBalancer # Or NodePort
  selector:
    app: payment-service
  ports:
    - port: 3003
      targetPort: 3003
      nodePort: 30003 # Optional static port
