apiVersion: apps/v1
kind: Deployment
metadata:
  name: restaurant-service
  namespace: food-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: restaurant-service
  template:
    metadata:
      labels:
        app: restaurant-service
    spec:
      containers:
      - name: restaurant-service
        image: sakethjooluri/restaurant-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3001
        envFrom:
        - configMapRef:
            name: restaurant-config
        - secretRef:
            name: restaurant-secrets
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 3001
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: restaurant-service
  namespace: food-app
spec:
  type: LoadBalancer
  selector:
    app: restaurant-service
  ports:
    - port: 3001
      targetPort: 3001
      nodePort: 30001
