apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: food-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: sakethjooluri/auth-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000

          envFrom:
            - configMapRef:
                name: auth-config
            - secretRef:
                name: auth-secret
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          env:
            # Must match your real app entrypoint
            - name: START_CMD
              value: "node index.js"

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
