apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: food-app
spec:
  type: NodePort
  selector:
    app: auth
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
